mixin goods(goods = [])
	ul.day-product__goods.goods
		each good in goods
			li.goods__item(class= good.current ? 'goods__item--current' : '')
				.goods__visual
					ul.goods__offers
						each offer in good.offers
							li.goods__offer(class= offer.isNew ? 'goods__offer--new' : offer.isHit ? 'goods__offer--hit' : offer.isSale ? 'goods__offer--sale' : '')= offer.text
					each image in good.images
						+picture(`${image.path}`, `jpg`, `${image.width}`, `${image.height}`, `${image.description}`, `${image.description}`)
					+image-controls(good)
				.goods__content
					header.goods__header
						+rating(good)
						h3.goods__title= good.title
						span.goods__code= `Артикул: ${good.code}`
						.goods__container
							span.goods__current-price= good.currentPrice
							del.goods__old-price= good.oldPrice
							span.goods__discount= good.discount
							+timer
					+colors(good)(class="goods__colors")
					+sizes(good)(class="goods__sizes")
					.goods__row
						+buttons(good)(class="goods__buttons")
						+good-navigation(good)