mixin good-navigation(good)
	section.goods__navigation
		h3.visually-hidden Дополнительная навигация по товару
		ul.goods__navigation-list
			each feature in good.features
				li.goods__navigation-item
					+icon(`${feature.iconName}`, `${feature.iconWidth}`, `${feature.iconHeight}`)
					if feature.type
						button.goods__navigation-button(type= feature.type aria-label= feature.description)= feature.text
					else
						a.goods__navigation-button.goods__navigation-button--link(href= feature.href title= feature.description)= feature.text

