mixin goods(goods = [])
	ul.day-product__goods.goods
		each good in goods
			li.goods__item(class= good.current ? 'goods__item--current' : '')
				.goods__visual
					span.goods__offer.good__offer--new New
					span.goods__offer.good__offer--new Хит
					span.goods__offer.good__offer--new Sale
					each image in good.images
						+picture(`${image.path}`, `jpg`, `${image.width}`, `${image.height}`, `${image.description}`, `${image.description}`)
					+image-controls(good)
				.goods__content
					header.goods__header
						+rating(good)
						h3.goods__title= good.title
						span.goods__code= `Артикул: ${good.code}`
						span.goods__current-price= good.currentPrice
						del.goods__old-price= good.oldPrice
					+colors(good)
					+sizes(good)
					+buttons(good)
					+good-navigation(good)