include ../tabs-data
include ../card-button-data
include sale-data
include sale-description-data
include sale-sizes-data

section.sale
	h2.sale__title Распродажа
	+tabs(tabs)(class="sale__tabs")
	+controls(controls)(class="sale__controls")
	ul.sale__list.cards
		each card in cards
			if card.sale
				li.cards__item
					article.cards__card.card.card--sale(tabindex="0")
						h3.visually-hidden Кольцо из белого золота с бриллиантами
						+card-buttons(buttons)
						+card-images-list(card)
						.card__content
							span.card__current-price= card.actualPrice
							del.card__old-price= card.oldPrice
							span.card__discount= card.discount
							p.card__text !{card.text}
						+list(description)
						+list(sizes)
			else
				li.cards__item
					article.cards__card.card(tabindex="0")
						h3.visually-hidden Кольцо из белого золота с бриллиантами
						+card-buttons(buttons)
						+card-images-list(card)
						.card__content
							span.card__current-price= card.actualPrice
							p.card__text !{card.text}
						+list(description)
						+list(sizes)
	include sale-secondary
